# One Sampled t-test

In [28]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [5]:
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [6]:
len(ages)

32

In [7]:
ages_mean=np.mean(ages)
print(ages_mean)

30.34375

In [8]:
## Lets take sample
sample_size=10
age_sample=np.random.choice(ages,sample_size)

In [9]:
age_sample

array([30, 28, 30, 18, 50, 17, 50, 35, 16, 40])

In [15]:
from scipy.stats import ttest_1samp

In [11]:
ttest,p_value=ttest_1samp(age_sample,30)      # 30 here is the popuation mean i.e ttest_1samp(sam.data, popmean)

In [12]:
print(p_value)

0.7324650660807723

In [13]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

# Two Sampled t-test

The Independent Samples t Test or 2-sample t-test compares the means of two independent groups in order to determine whether there is statistical evidence that the associated population means are significantly different. The Independent Samples t Test is a parametric test. This test is also known as: Independent t Test

In [17]:
np.random.seed(12)
ClassB_ages=stats.poisson.rvs(loc=18,mu=33,size=60) #loc is first val, mu is mean, size is sample size
ClassB_ages.mean()

50.63333333333333

In [19]:
classA_ages=stats.poisson.rvs(loc=18,mu=30,size=60)

In [21]:
_,p_value=stats.ttest_ind(a=classA_ages,b=ClassB_ages,equal_var=False) # ttest_ind

In [22]:
print(p_value)

0.00148827761873106

In [23]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

# Paired t-test with python

When you want to check how different samples from the same group are, you can go for a paired T-test

In [24]:
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=15)
     
print(weight1)
print(weight2)

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]
[25.65056793 23.96663484 33.09929495 34.50259688 22.9243432  30.06489822
 16.6935255  28.57494424 23.69611891 24.17300315 32.4501934  32.44001222
 32.12757231 41.9452304  47.20553787]

In [29]:
weight_df=pd.DataFrame({"weight_10":np.array(weight1),
                         "weight_20":np.array(weight2),
                       "weight_change":np.array(weight2)-np.array(weight1)})

In [30]:
weight_df

    weight_10  weight_20  weight_change
0          25  25.650568       0.650568
1          30  23.966635      -6.033365
2          28  33.099295       5.099295
3          35  34.502597      -0.497403
4          28  22.924343      -5.075657
5          34  30.064898      -3.935102
6          26  16.693525      -9.306475
7          29  28.574944      -0.425056
8          30  23.696119      -6.303881
9          26  24.173003      -1.826997
10         28  32.450193       4.450193
11         32  32.440012       0.440012
12         31  32.127572       1.127572
13         30  41.945230      11.945230
14         45  47.205538       2.205538

In [33]:
_,p_value=stats.ttest_rel(a=weight1,b=weight2)   # ttest_rel i.e calculates ttest of two related samples of scores a & b
     
print(p_value)

0.7228216295025017

In [34]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis